# Web scraping & Browser automation
zendriver~=0.8.1
asyncio-throttle


# Database & ORM
sqlalchemy~=2.0.41
sqlmodel
alembic
psycopg2-binary
asyncpg


# Configuration & Environment
pydantic~=2.11.7
python-dotenv
pydantic-settings

# Data processing & analysis
pandas~=2.3.0
numpy
textblob
langdetect

# Async programming & concurrency
tenacity

# Utilities & Helpers
python-dateutil




